# Java klasörleri
target/
out/

# IDE'lere özel dosyalar
.idea/
*.iml
*.class
*.jar
*.war
*.ear
*.log

# Sisteme özgü dosyalar
.DS_Store
Thumbs.db

# Eclipse, IntelliJ ve diğer IDE'lere ait geçici dosyalar
*.swp
*.swo
*.bak

# Maven veya Gradle bağımlılıkları
/.m2/
/.gradle/

# Java'da derleme sonuçları
*.class
